In [3]:
import pandas as pd

# Step 1: Read datasets
credit_ratings_df = pd.read_excel("Credit Rating Details.xlsx")

In [4]:
credit_ratings_df.head()

                     CIN                                     Rating Details
0  L36999GJ1991PLC016625  [{"date": "2014-01-17", "agency": "CARE", "amo...
1  L24200MH1989PLC051736  [{"date": "2022-12-26", "agency": "IND-RA", "a...
2  L15421UP1993PLC018642  [{"date": "2023-02-07", "agency": "ICRA", "amo...
3  L85110KA1930PLC000124  [{"date": "2015-04-15", "agency": "IND-RA", "a...
4  L29120MP1995PLC009327  [{"date": "2023-03-28", "agency": "", "amount"...

In [5]:
mapping_df = pd.read_excel("Screener CIN Mapping.xlsx")
mapping_df.head()

                     CIN                                      Screener Link
0  L52100DL2011PLC220026  https://www.screener.in/company/780021/consoli...
1  U34300HP2005PLC029149  https://www.screener.in/company/780020/consoli...
2  L45200DL2008PLC177821  https://www.screener.in/company/780019/consoli...
3  L52190WB2011PLC158320  https://www.screener.in/company/780018/consoli...
4  L74900DL2009PLC187574  https://www.screener.in/company/780017/consoli...

In [6]:
merged_df = pd.merge(credit_ratings_df, mapping_df, on="CIN", how="left")

In [38]:
merged_df.head()

,CIN,Rating Details,Screener Link
0,L36999GJ1991PLC016625,"[{""date"": ""2014-01-17"", ""agency"": ""CARE"", ""amo...",https://www.screener.in/company/526015/consoli...
1,L24200MH1989PLC051736,"[{""date"": ""2022-12-26"", ""agency"": ""IND-RA"", ""a...",https://www.screener.in/company/543277/consoli...
2,L15421UP1993PLC018642,"[{""date"": ""2023-02-07"", ""agency"": ""ICRA"", ""amo...",https://www.screener.in/company/532610/consoli...
3,L85110KA1930PLC000124,"[{""date"": ""2015-04-15"", ""agency"": ""IND-RA"", ""a...",https://www.screener.in/company/531807/consoli...
4,L29120MP1995PLC009327,"[{""date"": ""2023-03-28"", ""agency"": """", ""amount""...",https://www.screener.in/company/531431/consoli...

In [41]:
merged_df.to_csv('answer.csv', index=False)